.feed {
	position: absolute;
	top: 0;
	left: 0;
	width: calc(100% - 1rem);
	height: 100%;


	&__item {
		padding: 1.5rem 2rem;
		border-bottom: 1px solid #ececec;
		cursor: pointer;

		&._current {
			background: #f0f0f0;
		}

		&._unread {

			.post__title {
				font-weight: bold;
			}
		}
	}

	.empty-message {
		text-align: center;

		&__title {
			margin: 50px 0;
		}
	}
}

