.feeds
    flex: auto 0 0
    width: 20%
    border-right: 2px solid #ececec

    &__group

        &__title
            font-size: 1.4rem
            font-weight: bold
            margin-bottom: 1rem

        &__item
            margin-bottom: 10px
            cursor: pointer

            &__title

.current
    font-weight: bold