<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>RSS</title>
	<% cssFiles.forEach(function(cssFile) { %>
	<link href="<%= cssFile %>" rel="stylesheet">
	<% }); %>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
</head>
<body>
<div id="react-root"></div>
<script>window.initialState = <%- JSON.stringify(initialState) %></script>
<% if (env == 'development') { %>
<script src="/node_modules/_dll/styles.development.js"></script>
<script src="/node_modules/_dll/vendors.development.js"></script>
<% } else { %>
<script src="/vendors.js"></script>
<% } %>
<% jsFiles.forEach(function(jsFile) { %>
<script src="<%= jsFile %>"></script>
<% }); %>
</body>
</html>
