.content {
	height: calc(100vh - 6rem);
	display: table;
	table-layout: fixed;
	width: 100%;
	overflow: hidden;
}

.block {
	display: table-cell;
	overflow: hidden;
	padding-right: 1rem;
	user-select: none;
	position: relative;

	//&:nth-child(1)
	//	border: 1px solid blue;

	//&:nth-child(2)
	//	border: 1px solid green;

	//&:nth-child(3)
	//	border: 1px solid magenta;
}
